.brand{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.brand div{
    flex: 1;
    max-width: 150px;
    min-width: 20px;
    margin: 0rem 10rem 1rem 10rem;
    

    display: flex;
    justify-content: center;
    align-items: center;
}